<!DOCTYPE html>
<html>
<head>
    <title>Subreddit Comparison</title>
</head>
<body>
    <h1>Which subreddit is more educational?</h1>
    <form action="/vote" method="post">
        <input type="hidden" name="winner" id="winner" value="">
        <input type="hidden" name="loser" id="loser" value="">
        <button type="submit" 
                onclick="document.getElementById('winner').value='{{ pair[0][0] }}'; document.getElementById('loser').value='{{ pair[1][0] }}';">
                {{ pair[0][1] }}
        </button>
        <button type="submit" 
                onclick="document.getElementById('winner').value='{{ pair[1][0] }}'; document.getElementById('loser').value='{{ pair[0][0] }}';">
                {{ pair[1][1] }}
        </button>

    </form>
    <a href="/rankings">View Rankings</a>
</body>
</html>

